{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <!-- Principal Content Start-->
    <div class="center">
        <div class="center1">
            <h2>About Our Company</h2>
            <p>
               Bienvenida/o a mi pagina, en esta hablaré sobre dos sistemas operativos que ya han pasado a la historia, windows xp/7 y la competidora macintosh.
            </p>
        </div>
    </div>
    <!-- End of principal content -->
{% endblock %}
